
//! COLORES
$primary_color : #0fc8f0;
$bg_color : #000000;

//!FUENTES 

$primary_font : Helvetica, sans-serif;
$secondary: Arial ;

//!Estilos

body{
    background-color: $bg_color;
    color: white;
}

//Barra de navegacion

.navbar{
    font-size: 1rem;
    img{
        width: 5%;
    }
}

//Quienes somos

.quienes_somos{
    i{
        background-color: $primary_color;
    }
}

